{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 mt-5">
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    <strong>Well Done!</strong> Your Password Reset Successfully.
                </div>
              </div>
           
        </div>
    </div>
</div>
{% endblock main-content %}