{% extends 'base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Rs. {{item.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">  Total cost +  Rs. 40 = {{totalamount}}</p>
    <p><input type="checkbox" > <small>I agree with</small> <a href="#" style="text-decoration: none;">Term and Condition</a> </p>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/payment">
      {% for add in address %}
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="addid" id="addid{{forloop.counter}}" value="{{add.id}}">
        <label class="form-check-label fw-bold" for="addid">
          Address: {{forloop.counter}} </label>
      </div>
      <div class="card mt-2 mb-5">
        <div class="card-body">
        <h5>{{add.name}}</h5>
        <p>Mobile No.- {{add.phone}} <br> {{add.Address}}, {{add.city}}, <br>{{add.state}}, {{add.country}} <br> {{add.zipcode}}</p>
        </div>
      </div>
        
        {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}